@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  padding: 0 2rem;
  height: 100vh;
  width: 100vw;
  place-items: center;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  html,body{
    height: 100vh;
    width: 100vw;
  }
  
  /* body {
    display: flex;
    flex-direction: column;
    place-items: center;
  } */

}


/* Button */
.button {
  border: 1px solid green;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transform: skewX(-10deg);
  zoom: 1.5;
  height: 25px;
  width: 110px;
  border-radius: 20px 5px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 15px;
  font-family: "Star Jedi", arial;
  font-weight: 300;
  text-shadow: 0 0 20px #fff;
  animation: breath2 2s 0.5s infinite alternate;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:before {
  content: var(--my-text);
  text-align: center;
  line-height: 0.8em;
  display: block;
  width: calc(100% - 22px);
  height: calc(25px - 8px);
  animation: breath 2s infinite alternate;
  left: 10px;
  top: 3px;
  position: absolute;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 15px 3px 15px 3px;
}

.button.ice {
  border-color: #a8ecff;
  background-image: linear-gradient(to bottom,
      rgba(48, 138, 255, 0.8),
      rgba(29, 96, 240, 0.8));
  box-shadow: 0 0 35px rgba(48, 138, 255, 0.6),
    0 5px 10px rgba(48, 138, 255, 0.6), inset 0 1px #ffeca8,
    inset 0 -1px #ffeca8;
  color: #0a323d;
}

.button.ice:before {
  box-shadow: inset 0 0 15px 0 #a8ecff;
}

.button:hover.ice {
  box-shadow: 0 0 35px rgba(48, 138, 255, 0.75),
    0 5px 10px rgba(48, 138, 255, 0.75), inset 0 1px #a8ecff,
    inset 0 -1px #a8ecff;
}

.button:hover.ice:before {
  box-shadow: inset 0 0 25px 0 #a8ecff;
}

@keyframes breath {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0.95);
  }
}

@keyframes breath2 {
  0% {
    transform: skewX(-10deg) scaleX(1);
  }

  100% {
    transform: skewX(-10deg) scaleX(0.95);
  }
}